*{
    color: #bcb0a8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: "MSゴシック";

}

.header {
    background: #fff;
    border-bottom: #baa899 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: row-reverse;
    padding: 20px 100px;
    height: 120px;
}

.header__logo {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 15px;
    width: 80vw;
    /* max-width: 1230px; */
    text-align: center;
    color: #baa899;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 48px;

}
.header-nav__link{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 15px;
    border: #baa899 1px solid;
    background-color: #f4f4f4;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: normal;
}

