nav {
    display: none;
}

.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    background-color: #baa899;
    font-weight: bold;
    color: #fff;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.name-group {
    display: flex;
}

.name-group span {
    width: 5rem;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #827469;
    color: #fff;
    cursor: pointer;
}



.form__button-correct{
    padding: 10px;
    width: 160px;
    height: 50px;
    border: none;
    border-bottom: #baa899 solid 1px;
    background-color: #fff;
    color: #827469;
    cursor: pointer;
}
