.header {
    display: none;
}

.thanks__content {
    margin: 40vh auto;
    /* padding: 30px 15px; */
    max-width: 1230px;
    width: 100vw;
}

.thanks__heading {
    text-align: center;
}

.background-text {
    position: relative;
    display: flex;
    /* width: 100%;
    height: 100%; */
    /* フレックスボックスを有効化 */
    justify-content: center;
    /* 水平方向の中央寄せ */
    align-items: center;
    /* 垂直方向の中央寄せ */
    font-size: 40px;
    /* 通常テキスト用のフォントサイズ */
     color: #baa899;;
    /* 通常テキストの色 */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* margin: 40vh auto; */
    font-weight: 600;
}

.background-text::after {
    content: 'Thank you';
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 50%;
    /* 垂直方向の中央寄せ */
    left: 50%;
    /* 水平方向の中央寄せ */
    transform: translate(-50%, -50%);
    /* 中央に配置 */
    font-size: 300px;
    /* 背景テキストのフォントサイズ */
    color: rgba(209, 201, 173, 0.3);
    /* 背景テキストの色（透明度含む） */
    z-index: -1;
    /* 背景として配置 */
    white-space: nowrap;
    /* テキストの折り返し防止 */
    font-weight: 400;
}

.thanks__group{
    margin-top: 40px;
}

.home__button{
    text-decoration: none;
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #827469;
    color: #fff;
    cursor: pointer;
}
